.bee{
	position: absolute;
	z-index: 9999;
}
.bee-animated{
	animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
	0%, 100% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
}